.ui-input {
  width: 100%;
  border-radius: var(--border-radius-8);
  padding: 16px 24px;
  border: 1px solid var(--gray01);
  outline: none;

  &:focus {
    border-color: var(--blue01);
  }
  &::placeholder {
    color: var(--gray04);
  }
}