.document-info {
  display: flex;
  gap: 61px;
  padding: 30px;

  &__image-wrapper {
    min-width: 424px;
    height: 286px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    text-align: left;
  }
  
  &__title {
    font-size: 16px;
    font-family: 600;
    margin-bottom: 14px;
    line-height: 140%;
  }

  &__description {
    font-size: 14px;
  }

  &__buttons {
    margin-bottom: 47px;
    display: flex;
    gap: 17px;
  }

  @media (max-width: 1150px) {
    &__image-wrapper {
      min-width: 200px;
    }
  }
  
  @media (max-width: 920px) {
    display: grid;
    gap: 20px;
  }
}