.ui-loader {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 8px;
  background-color: var(--gray01);
  border-radius: var(--border-radius-8);

  &__bar {
    position: absolute;
    width: 60%;
    height: 100%;
    animation: move 1s linear infinite;
    background-color: var(--blue01);
    border-radius: var(--border-radius-8);
  }

  @keyframes move {
    0% {
      left: -60%;
    }
    100% {
      left: 100%;
    }
  }
}
