.document-item {
  display: flex;
  height: 70px;
  width: 100%;
  border-radius: var(--border-radius-10);
  overflow: hidden;
  box-shadow: 0 0 10px var(--shadow);
  cursor: pointer;

  &__image {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  
  &__info {
    padding: 15px;
    width: 100%;
    &-active {
      background-color: var(--blue01);
      color: var(--gray03);
    }
  }

  &__title {
    font-size: 16px;
    font-family: 600;
    margin-bottom: 6px;
  }

  &__size {
    font-size: 14px;
    margin-bottom: 0;
  }
}