.ui-button {
  border-radius: var(--border-radius-8);
  padding: 7px 28px;
  background: none;
  border: none;
  cursor: pointer;

  &_default {
    color: var(--blue01);
    border: 1px solid var(--blue01);

    &:hover {
      color: var(--white);
      background-color: var(--blue01);
    }
    &:active {
      color: var(--white);
      background-color: var(--blue02);
    }
  }

  &_danger {
    color: var(--danger01);
    border: 1px solid var(--danger01);

    &:hover {
      color: var(--white);
      background-color: var(--danger01);
    }
    &:active {
      color: var(--white);
      background-color: var(--danger02);
    }
  }

  &_disabled {
    background-color: var(--gray01);
    border: 1px solid var(--gray02);
    cursor: not-allowed;
  }
}