@import './base.css';

#app {
  max-width: 1366px;
  margin: 0 auto;
  padding: 41px;
  font-weight: normal;
  font-family: 'Montserrat';
}

@media (max-width: 650px) {
  #app {
    padding: 10px;
  }
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}
